:root,
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

#pma_navigation_content,
#pma_navigation {
    position: static;
}

#imgpmalogo {
    width: 165px;
}

#topmenucontainer {
    padding-right: 0;
}

#page_content {
    margin: auto;
}

#sqlquery {
    height: 10rem !important;
}

.result_query .alert,
.sqlOuter pre {
    margin-bottom: 0;
}

.result_query .alert {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sqlOuter code {
    background-color: rgb(229, 229, 229);
}

#sqlqueryresultsouter code {
    background-color: transparent;
}

.btn-pagination {
    background-color: transparent;
    border: none;
    color: black;
    padding: 6px;
}

.editor {
    height: 25rem;
}

.sql-editor {
    height: 10rem;
}

.w-fit-content {
    width: fit-content;
}

.pma-fieldset {
    border-radius: 4px;
}

a.disabled {
    color: #adb5bd;
    pointer-events: none;
}

.sorticon::after {
    content: url('img/asc_order.png');
    width: 12px;
    height: 12px;
}

.order_desc.sorticon::after {
    content: url('img/desc_order.png');
}

.order_none.sorticon::after {
    opacity: 0.0;
}